[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
User=consul
Group=consul
ExecStart=/usr/local/sbin/consul agent -config-dir=/etc/consul
ExecReload=/usr/local/sbin/consul reload -http-addr="{{ pillar['frontend IP address'] }}:8500"
KillSignal=SIGINT
KillMode=process
Restart=on-failure
RestartSec=50s

[Install]
WantedBy=multi-user.target
