{%- set backendIP = (pillar['backend network cidr']|replace(".0/", '.' ~ pillar['cluster index'] ~ '/')).split('/')[0] %}

datacenter = "cluster-dev"
data_dir = "/var/nomad/"
leave_on_interrupt = true
enable_debug = false

bind_addr = "{{ backendIP }}"

advertise {
	http = "{{ backendIP }}"
	rpc = "{{ backendIP }}"
	serf = "{{ backendIP }}"
}

consul {
	# This MUST be a consistent consul agent address and it makes sense to use the local one
	address = "{{ pillar['frontend IP address'] }}:8500"
}

server {
	enabled = true
	bootstrap_expect = {{ pillar['node count'] }}
	num_schedulers = 2
	rejoin_after_leave = true
	encrypt = "8sfUDokS8ehEsfbj9ysdaf=="
}

# NOTE: token to be updated after each cluster build
vault {
	enabled = true
	address = "http://active.vault.service.cluster:8200"
	token = "{{ pillar['vault token'] }}"
}
